@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
/* ## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px */

:root {
  --Very-dark-blue: hsl(233, 47%, 7%); /*main backgrouns*/
  --Dark-desaturated-blue: hsl(244, 38%, 16%); /*card background*/
  --Soft-violet-: hsl(277, 64%, 61%); /*accent*/

  /* --primary--- */

  --White-c: hsl(0, 0%, 100%); /*(main heading, stats) */
  --Slightly-transparent-white-mainpara: hsla(
    0,
    0%,
    100%,
    0.75
  ); /* main pragraph*/
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.6); /*stat headings*/
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  padding: 87px 81px;
  position: relative;
  font-size: 15px;
  height: 100%;
  height: auto !important;
  margin: 0 auto;
  background-color: var(--Very-dark-blue);
  font-family: "Inter", sans-serif;
  /* */
}

span {
  color: var(--Soft-violet-);
}
.container {
  background-color: var(--Dark-desaturated-blue);
  width: 95%;
  height: 36vw;

  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.h1-color {
  color: var(--White-c);
}

.content-para {
  font-family: "Inter", sans-serif;
  padding-bottom: 6vh;
  font-size: 1.4vw;
  line-height: 2vw;
  color: var(--Slightly-transparent-white-mainpara);
}

.content-h1 {
  padding-bottom: 5vh;
  font-family: "Lexend Deca", sans-serif;

  font-size: 3.5vw;
}
.companies-para {
  font-weight: 400;
  color: var(--Slightly-transparent-white);
}
.companies {
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
}
.sprilt {
  padding: 5.69vw;
  border: 3px green solid;
  width: 50%;
}

.view-ranking {
  display: flex;
}

.content {
  border: 3px yellowgreen solid;
}

.ranking-size {
  font-size: 1vw;
  border: 3px red solid;
  padding-right: 5vw;
}

.count {
  padding-bottom: 1vh;
}
